doctype html
html
  head
    title= "Upload successful!"
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/custom.css')

  body
  div.title_div
    h1.title_div= "Upload successful!"

  div.return_div 
    a.return_button(href="/admin/home") Return to Home Page
